.container{
    margin: 0 auto;
}

.banner{ 
    height: 100vh;    
    overflow: hidden;
    background-color: black;
}

.banner img{     
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}
.content{
    height: 100%;
}

@media (max-width:950px) {
    .banner{
        height: 60vh;
    }
}