.container{
    padding: 2em;
}

.foto{
    border-bottom: 1px solid rgb(192, 192, 192);;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3em;
    gap: 2.2em;

    & p{
        font-size: 1.2em;
        color: rgb(192, 192, 192);
    }
}

.photofield{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.foto div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.foto button{
    appearance: none;
    width: 15vw;
    padding: 0.8em;
    border-radius: 0.5em;
    font-weight: bolder;
    border: 3px solid rgba(0, 0, 0, 0.199);
    background-color: transparent;
    color: rgb(3, 0, 43);
}

.info{
    border: 1px solid black;
    margin: 3em;
    border-radius: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    
    & h1 {
        color: rgb(3, 0, 43);
        font-size: 1.5em;
        
    }

}

.header button{ 
    appearance: none;
    width: 10%      ;
    padding: 0.8em;
    border-radius: 0.5em;
    font-weight: bolder;
    border: 3px solid rgba(0, 0, 0, 0.199);
    background-color: transparent;
    color: rgb(3, 0, 43);
    cursor: pointer;    

}

.dados input{
    width: 60%;
    padding: 1em;
    appearance: none;
    border: none;
    border-bottom: 3px solid rgba(3, 0, 43, 0.514);

    
    background-color: transparent;
    margin-top: 1em;
    margin-bottom: 1em;
}

.dados input:disabled{
    border-bottom: 3px solid rgba(0, 0, 0, 0.199);
    background-color: rgba(211, 211, 211, 0.158);
}

@media (max-width:950px) {

    .container{
        padding: 0;
    }
    
    .foto{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .foto button{
        width: 70%;
        margin: 0 auto;
    }

    .header{
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;

       
    }

    .header button{
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        padding: 0;
        border: 3px solid rgba(0, 0, 0, 0.199);
        background-color: rgba(211, 211, 211, 0.11);
    }
    

    .info{
        width: 100%;
        margin: 0em;
        border: none;

    }

    .dados{
        display: flex;
        flex-direction: column;
        gap: 2em;
        word-wrap: break-word; 
        
    }

    .dados input{
        width: 100%;
    }
}
