.container{
    display: flex;
    background-color: white;
    box-sizing: border-box;
    border-radius: 2em;
    padding: 2em;
    gap: 3em;

    & img{
        height: 30em;
        width: 30em;
        border-radius: .5em;
    }
}

.sobre{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.sobre p{
        font-size: 1.5em;
        font-weight: normal;        
        color: rgba(0, 0, 0, 0.719);
    
}

.sobre .loc{
    font-size: 1.1em;
    font-weight: normal;
    color: rgb(161, 161, 161);
    margin-bottom: 0em;
}

.infos{
    font-size: 1em;
}

.tags{
    display: flex;
    gap: .5em;
}

.divbtn{
    display: flex;
    justify-content: center;
}

.contato{
    appearance: none;
    border-radius: .5em;
    padding: 1em;
    cursor: pointer;
    background-color: orange;
    color: white;
    border: 3px solid transparent;
    font-size: 1.1em;
    font-weight: bolder;
    margin-top: 2em;
}

.contato:hover{
    transition: 200ms;
    border: 3px solid orange;
    background-color: white;
    color: orange;
}


@media (max-width:950px) {
    .container{
        flex-direction: column;
        padding: 1em;
        gap: 1em;
    }

    .container img{
        width: 100%;
        margin: 0 auto;
    }

    .sobre{
        display: flex;
        flex-direction: column;
        gap: 0em;
    }
}

