.profile{
    display: inline-block;
    position: relative;
    z-index: 2;
  }

.mobile{
  display: none;
}

.button{
  color: #03002b;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;

  & p{
    color: #03002b;
  }
}

.button img{
  height: 2.4em;
  width: 2.4em;
  border-radius: 50%;
}

.menu{
  display: none;
    flex-direction: column;
    position: absolute;
    overflow: auto;
    z-index: 1;
    width: 15em;
    border-radius: 0 0 .2em .2em;
    left: -11.9em;
    top: 3em;
    
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.1)); /* Sombra */
}

.seta{
  width: 0;
  height: 0;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  border-bottom: 1rem solid rgb(255, 255, 255);
  margin-left: 85%;
}

.opcao{
    font-weight: bolder;
    padding: 1em;
    border: none;
    background-color: white;
    color: #03002b;
    text-align: left;
    font-size: 1em;
    cursor: pointer;
  }

  .dropdown_options{
    display: flex;
    flex-direction: column;
    border-radius: 1em .6em 1em 1em;
    overflow: hidden;
    background-color: white;
    box-sizing: border-box;
  }

  .dropdown_options .opcao:hover{
    background-color: rgba(170, 170, 170, 0.041);
  }
  
  .profile:hover .menu {
    display: flex;
    flex-direction: column;
    
  }


  @media (max-width:950px) {
    .profile{
      display: none;
    }

    .mobile{
      display: flex;
      justify-content: center;
    }

    .nome{
      width: 100%;
      color: black;
    }

    .button{
      display: flex;
      justify-content: flex-start;
      align-items: start;
      text-align: right;
      width: 100%;
    }

    .button img{
      height: 3em;
      width: 3em;
      margin-left: 0.5em;
      margin-right: -.4em; 
      border-radius: 50%;
    }

    .button p{
      color: #000000;                             
    }    

  }