.dropdown{
    display: inline-block;
    position: relative;
    z-index: 2;
  }

.mobile{
  display: none;
}

.button{
  color: #03002b;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;

  & p{
    color: #03002b;
  }
}

.button img{
  height: 3em;
  width: 3em;
  border-radius: 50%;
}

  .dropdown_options {
    display: none;
    flex-direction: column;
    position: absolute;
    overflow: auto;
    background-color: white;
    z-index: 1;
    width: 10.5em;
    border-radius: 0 0 .2em .2em;
    box-shadow: -1px 20px 20px 0px #ffffff00;
    left: -3.5em;
    top: 3.8em;
    border-right: 1px solid #03002b4b;
    border-bottom: 1px solid #03002b4b;
    border-left: 1px solid #03002b4b;
  }

.opcao{
    font-weight: bolder;
    padding: 1em;
    border: none;
    background-color: white;
    color: #03002b;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
  }

  .dropdown_options .opcao:hover{
    background-color: rgba(170, 170, 170, 0.041);
  }
  
  .dropdown:hover .dropdown_options {
    display: flex;
  }


  @media (max-width:950px) {
    .dropdown{
      display: none;
    }

    .mobile{
      display: flex;
      justify-content: center;
    }
  }