.footer{
    background-color: #ffa600c2;
    width: 100%;
    padding: 5em;
    display: flex;
    flex-direction: column;
    color: white;
}

.footer h1{
    text-align: left;
    color: white;
}

.footer div{
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: white;
}

.social{
    font-size: 3em;
    margin: 0 .1em;
}

.footer a:hover{
    text-decoration: none;
    opacity: 0.96;
}

.container{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 4em;
}

.container li{
    font-size: 1.4em;
    text-align: left;
    list-style: none;
    margin-top: .5em;
}
.rights{
    margin-top: 2em;
}

.rights p{
    font-size: 1em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rights span{
    font-size: 1.3em;
}


@media (max-width:950px) {
    .footer{
        padding: 2em;
        align-items: start;
    }
    .container{
        flex-direction: column;
        gap: 3em;
    }

    .container div{
        text-align: start;
    }
}