
.card{
    display: flex;
    flex-direction: column;
    width: 19em;
    height: 25em;
    border-radius: 10px;
    box-shadow: 0px 0 20px -10px rgba(0, 0, 0, 0.418);
    overflow: hidden;
}

.card{
    background-color: #71556b;
    overflow: hidden;
    
}

.card img{
    height:15em;
    object-fit: cover; /* ajusta a imagem para preencher a div */
    object-position: center; /* opcional: centraliza a imagem */
    margin-bottom: -5px;
}

.infos{
    background-color: #ffffff;
    padding: 1em;
    height: 10em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.nome{
    font-weight: bolder;
    font-size: 1.5em;
    color: #766788;
}

.infos p{
    color: grey;
}

.infos a{
    text-decoration: none;    
    color: #766788;
}


