.footer{
    background-color: #ffa600c2;
    width: 100%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    color: white;
}

.footer h1{
    text-align: left;
    color: white;
}

.footer div{
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: white;
}

.social{
    font-size: 3em;
    margin: 0.6em 0.3em;
}

.footer a:hover{
    text-decoration: none;
    opacity: 0.96;
}