*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.nav_mobile{
    display: none;
}

header{
    background-color: white;
    width: 100%;  
}

.nav_desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
    margin: auto;
    position: relative;
}

.nav_desktop img{
    width: 4em;
    height: 4em;
}

.nav_desktop ul{
    display: flex;
    gap: 2em;
    list-style: none;
}

.nav_desktop .itens{
    font-size: 1.2em;
    text-decoration: none;
    color: #ffa600;
    font-weight: bolder;
}

.nav_desktop .itens:hover{
    border-bottom: 5px solid orange;
    padding-bottom: .7em;
    transition: border 100ms;
}

.nav_desktop .cadastrar{
    background-color: aqua;
}

.popup{
    width: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    border-radius: 3em;
    z-index: 1;
}


@media (max-width: 950px){
    .nav_desktop{
        display: none;
    }

    .nav_mobile{
        display: flex;
        
    }
    .nav_mobile img{
        height: 4em;
        width: 4em;
    }

    .nav_mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 75vw;
        margin: auto;
        position: relative;
    }

    .top_header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .top_header button{
        width: 1em;
        height: 1em;
        font-size: 3em;
        text-align: center;
        appearance: none;
        border: none;
        background-color: transparent;
        color: rgb(214, 140, 3);
        cursor: pointer;
    }
    
    .nav_mobile img{
        width: 4em;
        height: 4em;
    }

    .container_list{
        width: 100%;
    }

    .container_list ul{
        display: flex;
        flex-direction: column;
        gap: 2em;
        list-style: none;
        width: 100%;
        text-align: center;  

    }
    
    .container_list li{
        font-size: 1.2em;
        text-decoration: none;
        color: rgb(214, 140, 3);
        font-weight: bolder;
    }
    
    .container_list li:hover{
        border-bottom: 5px solid orange;
        padding-bottom: .7em;
        transition: border 100ms;
    }
    
    .cadastrar{
        background-color: aqua;
    }
    
}