
.filtros{
    background-color: white;
    width: 100%;
    margin-top: 2em;
    padding: 1em;
    margin-bottom: 2em;    
    border-radius: 1em;
    margin: 0 auto;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.041);
}
.filtros div{
    margin: 3em 0em 3em 3em;
}


.filtros select{
    width: 45%;
    padding: .5em;
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.192);
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.filtros input[type=text]{
    width: 45%;
    padding: .5em;
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.192);
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.filtros button{
    width: 90%;
    margin-left: 1em;
    color: white;
    font-size: 1.3em;
    padding: .5em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}


.disponiveis{
    margin-top: 30px;
    padding: 0px;
}


.disponiveis > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: orange;
    margin-bottom: 1em;
}

.gallery{
    width: 75vw;
    margin: 2em auto;
    gap: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, 19em);  
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: 19em;
    height: 25em;
    border-radius: 10px;
    box-shadow: 0px 0 20px -10px rgba(0, 0, 0, 0.418);
    overflow: hidden;
}

.imagem{
    height: 30em;
    background-color: #71556b;
    overflow: hidden;
    
}

.imagem img{
    
    object-fit: cover; /* ajusta a imagem para preencher a div */
    object-position: center; /* opcional: centraliza a imagem */
    border-radius: 5px 5px 0px 0px;
}

.infos{
    background-color: #ffffff;
    padding: 1em;
    height: 10em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.nome{
    font-weight: bolder;
    font-size: 1.5em;
    color: #766788;
}

.infos p{
    color: grey;
}

.aviso{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2em;
    margin-top: 2em;
    background-color: #FFF;
    border-radius: 2em;
    overflow: hidden;    
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.041);

    & p{
    color: orange;
    font-size: 2em;
    text-align: center;
    }
 & img{
    height: 50vh;
    width: 50vh;
 }
}


@media (max-width:950px) {
    .main{
        width: 95vw;
        margin: 0 auto;
    }

    .disponiveis h1{
        text-align: center;
    }

    .filtros{
        width: 95;
    }

    .filtros div{
        margin: 0;        
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        margin: 0 auto;
    }

    .filtros select{
        width: 47%;
        padding: .5em;
        border-radius: 0.5em;
        border: 1px solid rgba(0, 0, 0, 0.192);
        font-size: 1.1em;
        margin: 0;

    }
    
    .filtros input[type=text]{
        width: 47%;
        padding: .5em;
        border-radius: 0.5em;
        border: 1px solid rgba(0, 0, 0, 0.192);
        font-size: 1.1em;
        margin: 0;
    }
    
    .filtros button{
        width: 100%;
        margin-left: 0em;
        color: white;
        font-size: 1.3em;
        padding: .5em;
        border-radius: 0.5em;
        border: none;
        cursor: pointer;
    }

    .aviso{
        width: 95vw;
        margin: 2em auto;
        flex-direction: column-reverse;
        padding: 2em 2em 0 2em;
    }
}




