
.filtros{
    background-color: white;
    width: 100%;
    margin-top: 2em;
    padding: 1em;
    margin-bottom: 2em;    
    border-radius: 1em;
    margin: 0 auto;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.041);
}
.filtros div{
    margin: 3em 0em 3em 3em;
}


.filtros select{
    width: 45%;
    padding: .5em;
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.192);
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.filtros input[type=text]{
    width: 45%;
    padding: .5em;
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.192);
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.filtros button{
    width: 92%;
    margin-left: 1em;
    color: white;
    font-size: 1.3em;
    padding: .5em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}


.disponiveis > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: #71556b;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
}

.card{
    display: inline-block;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 0 20px -10px rgba(0, 0, 0, 0.418);
}

.card > img{
    margin-left: 200px;
    width: 300px;
    height: 300px;
    margin-left: 0px;
    border-radius: 5px 5px 0px 0px;
}

.infos{
    background-color: #ffffff;
    width: 290px;
    height: 105px;
    margin-top: -5px;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.nome{
    font-weight: bolder;
    font-size: 1.5em;
    color: #766788;
}

.infos p{
    color: grey;
}

.infos a{
    text-decoration: none;    
    color: #766788;
}




.disponiveis{
    margin-top: 30px;
    padding: 0px;
}


.disponiveis > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: #71556b;
    margin-bottom: 40px;
}

.gallery{
    width: 90%;
    margin: 50px auto;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 20%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.507);
}

.card:hover{
    scale: 1.02;
    transition: 200ms;
}

.card img{
    width: 100%;
}

.infos{
    width: 100%;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.nome{
    font-weight: bolder;
    font-size: 1.5em;
}

.infos img{
    height: 24px;
}


