.conteudo{   
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: white;
    margin-bottom: 3em;
    border-radius: 1em;
    padding: 2em; 
    margin-top: 3em;
}



.disponiveis input[type=text]{
    width: 60%;
    height: 2.5rem;
    border-radius: 1em;
}

.disponiveis h1{
    color: black;
    margin-top: 2em;
}

.perfil{
    width: 30em;
    display: flex; 
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.perfil img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-right: 2rem;
    margin-bottom: -2em;
    z-index: 1;
    border: 3px solid white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.041);
    outline: 1px solid rgba(0, 0, 0, 0.062);;

}

.infos_perfil{    
    height: 25em;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 20px;
    overflow: hidden;
    padding: 1em;
    padding-top: 2em;
    text-align: justify;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.041);
    border: 1px solid rgba(0, 0, 0, 0.062);
}

 img.localizacao{
    height: 2rem;
    width: 2rem;
}

 img.seta{
    height: 4rem;
    width: 4rem;
    margin-left: auto;
    margin-top: auto;        
    cursor: pointer;
}

h2.nome{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8em;
    color: orange;
    text-align: center;
}

.descricao{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

@media (max-width:950px) {
    .disponiveis h1{
        margin: .5em;
        font-size: 1.5em;
    }


    .perfil{
        flex-direction: column;
        justify-content: center;
    }

    .conteudo{
        align-items: center;
        justify-content: center;
        margin-top: 1em;
    }

    .infos_perfil{
        height: 15em;
        border: 1px solid rgba(0, 0, 0, 0.062);
    }
}
