*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.nav_mobile{
    display: none;
}

header{
    background-color: #fffffff1;
}

.nav_desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    margin: auto;
    position: relative;
}

.nav_desktop img{
    width: 5em;
    height: 5em;
}

.nav_desktop ul{
    display: flex;
    gap: 2em;
    list-style: none;
}

.nav_desktop .itens{
    font-size: 1.2em;
    text-decoration: none;
    color: #03002b;
    font-weight: bolder;
    list-style: none;
    padding: 1.2em;
}

.nav_desktop .itens:hover{
    border-bottom: 5px solid #03002b;
    padding-bottom: .7em;
    transition: border 100ms;
    padding: 1.2em;
}

.nav_desktop .cadastrar{
    background-color: aqua;
}

.container_list li{
    cursor: pointer;
   
}

.popup{
    width: 70vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    border-radius: 3em;
    z-index: 1;
}

.logout{
    appearance: none;
    background-color: transparent;
    border: none;
    width: 60%;
    margin: 0 auto;
    cursor: pointer;
}

.logout p{
    display: flex;    
    background-color: transparent;
    border: none;
    font-size: 2em;
    background-color: red;
    color: white;
    border-radius: 0.2em;
    padding: 0.1em;
    justify-content: center;
    align-items: center;
}

@media (max-width: 950px){
    .nav_desktop{
        display: none;
    }

    .nav_mobile img{
        height: 4em;
        width: 4em;
    }

    .nav_mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 95vw;
        margin: auto;
        position: relative;
    }

    .top_header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .top_header button{
        width: 1em;
        height: 1em;
        font-size: 3em;
        text-align: center;
        appearance: none;
        border: none;
        background-color: transparent;
        color: rgb(214, 140, 3);
        cursor: pointer;
    }
    
    .nav_mobile img{
        width: 4em;
        height: 4em;
    }

    .container_list{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        height: 100%;
        align-items: end;
        padding-top: 2em;

    }

    .close{
        appearance: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        margin-bottom: 5em;
        margin-right: 1em;
        border: none;
        padding: 1em;
        font-size: 1.2em;
        border-radius: 50%;
        color: white;
        background-color: orange;
        font-weight: bold;
    }

    .container_list>button:hover{
        background-color: red;
    }

    .container_list ul{
        display: flex;
        flex-direction: column;
        gap: 2em;
        list-style: none;
        width: 100%;
        text-align: center;  

    }
    
    .container_list li{
        font-size: 1.2em;
        text-decoration: none;
        color: rgb(214, 140, 3);
        font-weight: bolder;
    }
    
    .container_list li:hover{
        border-bottom: 5px solid orange;
        padding-bottom: .7em;
        transition: border 100ms;
    }
    
    .cadastrar{
        background-color: aqua;
    }

    .popup{
        width: 90vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }    
}